*.iml
.gradle
/local.properties
.idea/
.DS_Store
/build
feature/*/build
core/*/build
ui/*/build
/captures
.externalNativeBuild
.cxx
local.properties
/.kotlin/
/app/release/*.aab
kotzilla.json
/app/src/main/assets/kotzilla.key
.kotlin
**/build/
xcuserdata
!src/**/build/
.idea
captures
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
node_modules/
setup-java.sh
/core/provider/room/schemas/com.quare.bibleplanner.core.provider.room.db.AppDatabase/*.json
/core/books/src/androidMain/assets/books_by_chapter/
