<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Bible Planner</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>This app needs access to the network to load dynamic configurations.</string>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.quare.bibleplanner.bible_initialization</string>
	</array>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>NSSupportsLiveActivitiesFrequentUpdates</key>
	<true/>
	<key>GIDClientID</key>
	<string>121746231158-n0q7igb1r22q8vie06dnlo09h70d3mbq.apps.googleusercontent.com</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.quare.bibleplanner.BiblePlanner</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>bibleplanner</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.121746231158-n0q7igb1r22q8vie06dnlo09h70d3mbq</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
